<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.mobile.krish"
	versionCode="1"
	version   = "1.0">
<name>phones</name>
<description>
Phones Details</description>
<author href="krish.in" 
email="support@krish.in">
Hari Krishna
</author>
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="disallowOverscroll" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="prerendered-icon" value="false" />    
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="BackgroundColor" value="0xffffffff "/>
    <preference name="KeepRunning" value="true"/>
    
    <icon src="res/icon/phones.jpg" gap:platform="android" width="72" height="72" />
   
    <gap:splash src="res/screen/phones.png" gap:platform="android" width="480" height="800" />
    
   
    <feature name="http://api.phonegap.com/1.0/network"/>
    
    <gap:plugin name="org.apache.cordova.network-information"  />
    <gap:plugin name="org.apache.cordova.console"  />
    
    <gap:plugin name="org.apache.cordova.splashscreen"  />
    <access origin="*" subdomains="true" />
</widget>